*{
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

#menu{
    display: flex;
    list-style: none;

}

nav li{
    padding: 10px;
    margin: 20px;
}

#menu-item1{
    background-color:blueviolet;
}

#menu-item2{
    background-color:chocolate;
}

#menu-item3{
    background-color: lawngreen;
}

#menu-item4{
    background-color:darkcyan;
}
