

*{
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

#menu{
    display: flex;
    list-style: none;

}

nav li{
    padding: 10px;
    margin: 20px;
    font-weight: bold;
}

#menu-item1{
    background-color:blueviolet;
}

#menu-item2{
    background-color:chocolate;
}

#menu-item3{
    background-color: lawngreen;
}

#menu-item4{
    background-color:darkcyan;
}
#container-2 {
  background-color: beige;
  border: 1px solid black;
  padding: 10px;
  width: 500px;
}

.container-text {
  border: 1px solid black;
  padding: 10px;
}

<<<<<<< HEAD

/*link functionality*/

nav [id="menu-item"]:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}
=======
#footer-container{
    justify-content: space-around;
    border: 1px solid black;
    background-color: lightblue;
}

footer{
    display: flex; 
    flex-direction: row;
    flex-grow: 1;
    border: 1px solid black;
    justify-content: center;
    margin:20px auto; 
    background-color: rgb(18, 144, 228);
    width: 90%;
}

#mail-link:link,
#mail-link:visited,
#mail-link:hover,
#mail-link:active{
    color: black;

}

.maps-head{

}

iframe{
    width:"20%";
     height:"20%";
     border: 5px solid rgba(224, 54, 54, 0.384);
      
}
>>>>>>> c94196e49d38ce70c8b1d12b6b451aedcaf36d82
