

*{
    margin: 0;
    padding: 0;
   /*  border: 1px solid black; */
}

#menu{
    display: flex;
    list-style: none;
}


header{
    border-bottom: 5px solid grey;
    margin-bottom: 20px;
}
nav li{
    padding: 10px;
    margin: 20px;
    font-weight: bold; 
}

#menu-item1{
    background-color:blueviolet;
}

#menu-item2{
    background-color:chocolate;
}

#menu-item3{
    background-color: lawngreen;
}

#menu-item4{
    background-color:darkcyan;
}
#container-2 {
  background-color: beige;
  border: 1px solid black;
  padding: 10px;
  width: 500px;
}

.container-text {
  border: 1px solid black;
  padding: 10px;
}


/*link functionality*/

#menu-item1:hover, #menu-item2:hover, #menu-item3:hover, #menu-item4:hover{
    color: white;
    background-color: black;
    cursor: pointer;
    width: 100px;

}


#menu-item1:active, #menu-item2:active, #menu-item3:active, #menu-item4:active{
width: 200px;
}